<h1>要素一覧</h1>

<%= link_to "＋要素追加", new_story_story_element_path(@story) %>

<ul>
  <% @story_elements.each do |e| %>
    <li>
      <%= link_to "#{e.marker.present? ? "#{e.marker} " : ""}#{e.kind} / #{e.name}",
                  story_story_element_path(@story, e) %>
      <%= link_to "編集", edit_story_story_element_path(@story, e) %>
      <%# 削除は編集画面だけにしたいので、ここでは出さない %>
    </li>
  <% end %>
</ul>

<%= link_to "ストーリー詳細へ戻る", story_path(@story) %>
