<%= render "shared/breadcrumbs", items: @breadcrumbs %>

<%= link_to "戻る",
            story_story_elements_path(@story, breadcrumb_params),
            style: "color: #9ecbff; font-weight: bold; text-decoration: underline;" %>

<h1 style="color: #c4b5fd;">要素追加</h1>

<ul style="margin: 8px 0 20px 20px; font-size: 17px; line-height: 1.8;">
  <li>イベント・詳細メモ・アイデアの選択で使われる大切な要素です。</li>
  <li>選択していれば、整合性チェックやアイデア検索にヒットするようになります。</li>
</ul>

<%= render "form" %>
