<h1>アイデア編集</h1>

<% if @idea.errors.any? %>
  <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render "form", idea: @idea %>

<%= link_to "詳細へ戻る", idea_path(@idea) %>
