<h1>アイデア投稿</h1>

<% if @idea.errors.any? %>
  <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render "form", idea: @idea %>

<%= link_to "一覧へ戻る", ideas_path %>
