<%= render "shared/breadcrumbs", items: @breadcrumbs %>

<p>
  <%= link_to "戻る", story_story_event_path(@story, @story_event) %>
</p>

<h1 style="color: #c4b5fd;">詳細メモ追加</h1>

<ul style="margin: 8px 0 20px 20px; font-size: 17px; line-height: 1.8;">
  <li>イベント本体には書ききれない会話案、演出案などは、詳細メモとしてさらに細かく記録して整理できます。</li>
  <li>詳細メモは、1話、2話という感じで作成すると整理しやすくおすすめです</li>
  <li>何回も修正、追加して良くしていく前提なので、気楽に作成していきましょう。</li>
</ul>

<%= render "form" %>
