<h1>ストーリー編集</h1>
<%= render "form", story: @story %>

<hr>

<p>
  <%= link_to "このストーリーを削除",
              story_path(@story),
              data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？（中のイベント/詳細メモも消えます）" } %>
</p>

<p><%= link_to "戻る", story_path(@story) %></p>
