<p><%= link_to "戻る", stories_path %></p>
<h1 style="color: #c4b5fd;">ストーリー作成</h1>
<p style="margin: 8px 0 8px 0; font-size: 17px;">
  作品の土台となるストーリーを作成できます。物語の方向性や世界観をまとめる、作品の顔となる部分です。<br>
  細かい流れはイベントや詳細メモで作成していけるので、まずは簡単に作成してみましょう。
</p>

<br>

<%= render "form", story: @story %>
