<%= render "shared/breadcrumbs", items: @breadcrumbs %>

<p><%= link_to "戻る", story_path(@story) %></p>
<h1 style="color: #c4b5fd;">イベント追加</h1>
<ul style="margin: 8px 0 20px 20px; font-size: 17px; line-height: 1.8;">
  <li>ストーリーの中の出来事のまとまりで、章や一巻のように、物語を区切って整理できます。</li>
  <li>会話案や演出は詳細メモに残すのがおすすめです。イベントでは、物語の中で起こる出来事をまとめましょう。</li>
  <li>後から時系列順に並び替えも出来るので、気楽に作成していきましょう。</li>
</ul>

<br>

<%= render "form" %>
